# Dependencias
node_modules/

credenciales.json
credenciales2.json
# Token de acceso - generado automáticamente
token.json
token-cloudnl.json

venv/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración del entorno
.env
.env.local
.env.production
*.log
logs/

# Dependencias
node_modules/
__pycache__/
*.pyc